<%-
    gifter = @person.first_name
    giftee = @person.person_id ? @person.person.first_name : nil
%>
<div class="hero-unit">
    <p>
      <%- if giftee %>
          <span><%= "You Are The Secret Santa For #{giftee}." %></span>
          <br/><br/>
          <%= "Happy Holidays #{gifter}." %>
      <%- else %>
          <%=  'Please wait until a random person is assigned to you.' %>
      <%- end %>
    </p>
</div>


